.middle {
    width: 800px;
    height: 600px;
}

.h_100vh {
    height: 100vh;
}

.h_100 {
    height: 100%;
}

:root{
    --bg-trasparent: transparent;
}

button{
    background-color: var(--bg-trasparent);
}